html {
    background: rgb(36,9,35);
    background: linear-gradient(180deg, rgba(36,9,35,1) 0%, rgba(219,87,219,1) 100%);
}


img {
    border-radius: 40px;
}

h1, h2 {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

p {
    text-align: center;
    text-justify: auto;
    font-size: 18px;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #be75be;
    border-color: #300330;
    border-width: 3px;
    color: ;
}

input, textarea {
    background-color: #ac4eac;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(121, 6, 156, 0.377);
}